@import "tailwindcss";

@theme {
  --font-display: "Archivo Black", sans-serif;
  --font-sans: "DM Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #0f172a;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
